/* main div style */
#main {
    margin-left: 40%;
    margin-right: 40%;
    width: 15%;
    border: 3px solid orange;
    border-radius: 10px;
}


button {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

/* stop watch style */
#stopwatch {
    position: relative;
    font-size: larger;
    margin-left: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* start button stayle */
#start {
    width: 60px;
    background-color: green;
    color: white;
    margin-left: 25%;
}

/* reset button style */
#reset {
    width: 60px;
    background-color: red;
    color: white;
    margin-right: 15%;
}




